---
// Assuming the path to your WhatsApp SVG icon is correct.
// If not, please adjust the path to your actual SVG file.
import Whatsapp from "../../../icons/whatsapp.svg";
---

<!--
this astro component creates a floating whatsapp button.
it's designed to be placed in your astro layout (e.g., in a <aside> tag)
to provide a persistent contact option for users.
-->
<a
  href="https://wa.me/+50577988555?text=Buenas tardes, estoy aquí por la página web ¿Podría compartirme el cátalogo de modelos?"
  class="focus:ring-opacity-50 group fixed right-5 bottom-5 z-50 flex h-16 w-16 items-center justify-center rounded-full bg-[#25D366] shadow-lg transition-transform duration-300 hover:scale-110 focus:ring-2 focus:ring-[#25D366] focus:outline-none"
  target="_blank"
  data-action="open"
  data-phone="50577988555"
  data-message="Buenas tardes, estoy aquí por la página web ¿Podría compartirme el cátalogo de modelos?"
  role="button"
  rel="noopener noreferrer"
  aria-label="Contacta por Whatsapp"
>
  <!--
  the whatsapp svg icon.
  the 'class' attribute on the component is passed down to the root svg element.
  -->
  <Whatsapp
    class="z-51 h-8 w-8 text-white transition-transform duration-300 ease-in group-hover:scale-110"
  />
</a>
