---
export interface Props {
	item: string
	reference: string
	isActive: boolean
}

const { item, reference, isActive } = Astro.props
---

<li>
	<a
		href={reference}
		class="block rounded-sm px-3 py-2 text-white hover:text-[#ffe78c] md:bg-transparent"
		class:list={{ active: isActive }}
		aria-current="page"
	>
		{item}
	</a>
</li>
