---
import { Icon } from 'astro-icon/components'

interface Props {
	Logo: ((_props: astroHTML.JSX.SVGAttributes) => any) & ImageMetadata
}

const { Logo } = Astro.props
---

<div>
	<nav class="bg-tebas-700 flex justify-between px-20 text-white">
		<div>
			<Icon name="logo" class="h- aspect-[80/26] w-1/2" />
		</div>
		<div>
			<ul class="flex">
				<li>Home</li>
				<li>Catálogo de casas</li>
				<li>Servicios de construcción</li>
				<li>Galería</li>
				<li>Contáctanos</li>
			</ul>
		</div>
	</nav>
</div>
