---
import CountryPhoneSelector from "./CountryPhoneSelector.vue";
import "intl-tel-input/build/css/intlTelInput.css";
---

<section
  class="flex flex-col gap-10 overflow-hidden bg-gray-900 px-4 py-8 sm:px-6 md:px-10 lg:flex-row lg:px-35"
>
  <div class="flex w-full flex-col gap-4 lg:w-1/2">
    <h2 class="font-important text-3xl font-extrabold text-sky-400 sm:text-4xl">
      Agenda tu cita con nosotros
    </h2>
    <p class="text-base text-white">
      Si te ha interesado alguno de nuestros modelos o servicios puedes llenar
      el formulario que te proporcionamos a continuación para que uno de
      nuestros agentes se ponga en contacto contigo.
    </p>
    <hr class="border-gray-700" />

    <form
      class="flex w-full flex-col gap-4"
      method="post"
      name="contact"
      id="contactForm"
    >
      <fieldset class="flex w-full flex-col gap-4">
        <legend class="text-lg font-semibold text-white"
          >Información de contacto</legend
        >

        <label for="name" class="text-white">Nombre:</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="e.j. Juan José López Pérez"
          class="w-full rounded p-2"
        />

        <!-- Email + Phone Responsive -->
        <div class="flex w-full flex-col gap-4 md:flex-row">
          <div class="flex w-full flex-col gap-2">
            <label for="email" class="text-white">Email:</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="e.j. ejemplo@email.com"
              class="w-full rounded p-2"
            />
          </div>

          <div class="flex w-full flex-col gap-2">
            <label for="countryPhone" class="text-white"
              >Número de teléfono:</label
            >
            <CountryPhoneSelector
              client:visible
              class="phone-input-wrapper w-full"
              id="countryPhone"
            />
            <div class="mt-2 flex items-center gap-2">
              <input
                type="checkbox"
                name="hasWhatsapp"
                id="hasWhatsapp"
                class="rounded-2xl border-2 border-white text-gray-700"
              />
              <label for="hasWhatsapp" class="text-white"
                >¿Posee Whatsapp?</label
              >
            </div>
          </div>
        </div>

        <!-- Consultation Info -->
        <fieldset class="mb-2 flex w-full flex-col gap-2">
          <legend class="text-lg font-semibold text-white"
            >Información de la consulta:</legend
          >

          <label for="category" class="text-white"
            >Categoría de la consulta:</label
          >
          <select name="category" id="category" class="w-full rounded p-2">
            <option disabled selected>-- Elige una categoría --</option>
            <option value="houses">Casas</option>
            <option value="tebas">Modelos Tebas</option>
            <option value="blok-on">Modelos Blok-on</option>
            <option value="others">Otros servicios</option>
            <option value="another">Consulta General/Otros temas</option>
          </select>

          <label for="message" class="text-white">Consulta:</label>
          <textarea
            id="message"
            rows="6"
            placeholder="Buenas tardes, quería hacer una pregunta con respecto..."
            class="w-full rounded p-2"></textarea>
        </fieldset>
      </fieldset>

      <div class="cf-turnstile" data-sitekey=""></div>

      <button
        class="w-fit rounded bg-cyan-600 px-6 py-3 font-semibold text-white transition-colors hover:cursor-pointer hover:bg-cyan-700"
        role="button"
        type="submit"
      >
        Enviar
      </button>
    </form>
  </div>

  <!-- Right side: Map -->
  <aside
    class="flex w-full flex-col items-center justify-start gap-6 pt-6 lg:w-1/2"
  >
    <p class="self-start text-sm text-white sm:text-base">
      O puedes visitarnos en Km. 14 Carretera a Masaya, 4 kilómetros hacia
      Veracruz. Residencial Casa Blanca, casa b7.
    </p>
    <iframe
      title="Mapa de google maps con la dirección Km. 14 Carretera a Masaya, 4 kilómetros hacia Veracruz. Residencial Casa Blanca, casa b7"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.543945156077!2d-86.17760532576695!3d12.074867988164163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f73f8ccad74f691%3A0x408e99da01b92314!2sResidencial%20Casa%20Blanca%2C%20Valle%20Gotel!5e0!3m2!1ses-419!2sni!4v1751409835766!5m2!1ses-419!2sni"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      class="aspect-video h-64 w-full rounded-lg shadow-lg sm:h-80 md:h-96"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </aside>
</section>

<style>
  .phone-input-wrapper {
    --iti-dialcode-color: var(--color-gray-600);
  }
</style>
