---
import WhyUsCard from "./WhyUsCard.astro";
---

<section class="w-full">
  <div class="flex w-full flex-col">
    <div class="flex items-center justify-center p-4 text-center">
      <h2 class="font-important text-3xl font-bold md:text-4xl">
        ¿Por qué preferirnos?
      </h2>
    </div>
    <div class="mb-4 h-0.5 w-11/12 self-center bg-white"></div>

    <!-- Responsive card container -->
    <div
      class="flex flex-col gap-8 px-4 pb-4 md:flex-row md:justify-center md:gap-6 lg:gap-10"
    >
      <WhyUsCard
        name="quality"
        text="Calidad"
        description="Los materiales manejados por nuestros equipos de construcción están certificado con los estándares de construcción nacionales."
        bgColor="bg-tebas-400"
      />
      <WhyUsCard
        name="quick"
        text="Rapidez"
        description="En Tebas garantizamos que tendrás las llaves de tu casa en la palma de tu mano en tan solo dos o tres meses."
        bgColor="bg-tebas-500"
      />
      <WhyUsCard
        name="clear"
        text="Claridad"
        description="Los términos y el cronograma de la obra serán proporcionados desde un principio al cliente, sin ningún cambio de último minutos."
        bgColor="bg-tebas-800"
      />
    </div>
  </div>
</section>
