---
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  text: string;
  description: string;
  bgColor: string;
  textColor?: string;
}

const { name, text, description, bgColor, textColor } = Astro.props;
---

<div
  class="flex w-full flex-col items-center justify-center gap-8 px-20"
  class:list={[bgColor, textColor]}
>
  <Icon name={name} class="size-30" aria-hidden="true" />
  <span class="font-secondary mt-2 text-center text-4xl font-bold">{text}</span>
  <p class="text-center text-lg font-medium">{description}</p>
</div>
