---
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  text: string;
  description: string;
  bgColor: string;
  textColor?: string;
}

const { name, text, description, bgColor, textColor } = Astro.props;
---

<div
  class="flex w-full flex-col items-center justify-center rounded-xl p-6 sm:p-8 md:p-6 lg:px-12 xl:px-16"
  class:list={[bgColor, textColor]}
>
  <Icon name={name} class="size-20 md:size-28 lg:size-32" aria-hidden="true" />
  <span class="font-secondary mt-4 text-center text-2xl font-bold md:text-3xl"
    >{text}</span
  >
  <p class="text-center text-base font-medium md:text-lg">{description}</p>
</div>
