---
import "../styles/global.css";
import Navbar from "../components/layout/navbar/Navbar.astro";
import type { Props as NavbarProps } from "../components/layout/navbar/Navbar.astro";
import WhatsappButton from "../components/layout/navbar/WhatsappButton.astro";
import Footer from "../components/layout/footer/Footer.astro";
import { SEO } from "astro-seo";

const navbarProps: NavbarProps = {
  logo: "logo",
};

// Define the type for the props you'll pass to this layout
export interface Props {
  title: string;
  description: string;
  // You can add more props for OpenGraph, Twitter, etc., as needed
  // For example:
  // image?: string;
  // pageTitle?: string;
}

// Destructure the props
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full scroll-smooth">
  <head>
    <SEO title={title} description={description} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://challenges.cloudflare.com/turnstile/v0/api.js"
      async
      defer></script>
  </head>
  <body
    class="flex flex-col bg-white text-gray-950 dark:bg-gray-800 dark:text-gray-50"
  >
    <header class="fixed top-0 z-50 w-full bg-transparent">
      <Navbar logo={navbarProps.logo} />
    </header>
    <main class="mt-20 flex w-full flex-grow-1 flex-col items-stretch">
      <slot />
    </main>
    <Footer />
    <aside>
      <WhatsappButton />
    </aside>
    <script src="https://web3forms.com/client/script.js" async defer></script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: auto;
  }
</style>
